<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commentlist</key>
	<array>
		<dict>
			<key>usericon</key>
			<string>usericon_01.png</string>
			<key>username</key>
			<string>匿名用户</string>
			<key>content</key>
			<string>我喜欢这电视剧，看着很轻松</string>
			<key>send_date</key>
			<string>刚刚</string>
			<key>praise_count</key>
			<string>109</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_02.png</string>
			<key>username</key>
			<string>和珅</string>
			<key>content</key>
			<string>经典之作呀！</string>
			<key>send_date</key>
			<string>4天前</string>
			<key>praise_count</key>
			<string>56</string>
			<key>replylist</key>
			<array>
				<dict>
					<key>usericon</key>
					<string>usericon_25.png</string>
					<key>username</key>
					<string>啊猪</string>
					<key>reply_content</key>
					<string>你才傻逼，你哪儿的？出来！</string>
					<key>send_date</key>
					<string>刚刚</string>
				</dict>
				<dict>
					<key>usericon</key>
					<string>usericon_19.png</string>
					<key>username</key>
					<string>在说话我就亲你</string>
					<key>reply_content</key>
					<string>shability</string>
					<key>send_date</key>
					<string>2分钟之前</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_03.png</string>
			<key>username</key>
			<string>丰绅殷德</string>
			<key>content</key>
			<string>我是和珅的儿子</string>
			<key>send_date</key>
			<string>5天前</string>
			<key>praise_count</key>
			<string>10085</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_04.png</string>
			<key>username</key>
			<string>纪晓岚后人</string>
			<key>content</key>
			<string>你大爷，我还是纪晓岚的后人呢</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>189</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_05.png</string>
			<key>username</key>
			<string>队长别开枪是我</string>
			<key>content</key>
			<string>经典之作，永恒的那种</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>1954</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_06.png</string>
			<key>username</key>
			<string>匿名用户4523423</string>
			<key>content</key>
			<string>最喜欢看纪晓岚和珅撕逼了，萌萌哒</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>283</string>
			<key>replylist</key>
			<array>
				<dict>
					<key>usericon</key>
					<string>usericon_30.png</string>
					<key>username</key>
					<string>奥利弗黄</string>
					<key>reply_content</key>
					<string>并不好看</string>
					<key>send_date</key>
					<string>2小时之前</string>
				</dict>
				<dict>
					<key>usericon</key>
					<string>usericon_08.png</string>
					<key>username</key>
					<string>匿名用户123323423</string>
					<key>reply_content</key>
					<string>你傻逼才觉得不好看呢，爱看不看傻逼</string>
					<key>send_date</key>
					<string>1天前</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_07.png</string>
			<key>username</key>
			<string>匿名用户asdf</string>
			<key>content</key>
			<string>其实历史上纪晓岚并没有那么屌，和珅倒真有那么贪</string>
			<key>send_date</key>
			<string>2天前</string>
			<key>praise_count</key>
			<string>9983</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_08.png</string>
			<key>username</key>
			<string>Wilson</string>
			<key>content</key>
			<string>我还是觉得康熙王朝好看</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_09.png</string>
			<key>username</key>
			<string>匿名用户123323423</string>
			<key>content</key>
			<string>张铁林演的皇帝很传神，演活了</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>2341</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_10.png</string>
			<key>username</key>
			<string>燃烧的胸毛</string>
			<key>content</key>
			<string>周末在家慵懒地看着经典，也是酸爽</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>54</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_11.png</string>
			<key>username</key>
			<string>mzka787</string>
			<key>content</key>
			<string>四部全看完的举手</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_12.png</string>
			<key>username</key>
			<string>富贵不能淫</string>
			<key>content</key>
			<string>小月已老，尚能操否</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>23</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_13.png</string>
			<key>username</key>
			<string>人心惶惶</string>
			<key>content</key>
			<string>康熙王朝比这好看多了，喜欢陈道明演的皇帝</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>829</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_14.png</string>
			<key>username</key>
			<string>半斤烧酒两斤烧鸡</string>
			<key>content</key>
			<string>外面阴雨连绵，在家里看着电视剧，十分惬意</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_15.png</string>
			<key>username</key>
			<string>匿名用户12312342342</string>
			<key>content</key>
			<string>笑尿了</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_16.png</string>
			<key>username</key>
			<string>如果有一天</string>
			<key>content</key>
			<string>卧槽，那么多人评论《铁齿铜牙纪晓岚》，也是醉了</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>234</string>
			<key>replylist</key>
			<array>
				<dict>
					<key>usericon</key>
					<string>usericon_01.png</string>
					<key>username</key>
					<string>匿名用户</string>
					<key>reply_content</key>
					<string>民心所向啊</string>
					<key>send_date</key>
					<string>8小时之前</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_17.png</string>
			<key>username</key>
			<string>月宫小兔兔</string>
			<key>content</key>
			<string>哈哈，小月居然也叫月宫小兔兔</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>23</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_18.png</string>
			<key>username</key>
			<string>心比天高命比纸薄</string>
			<key>content</key>
			<string>看我二次元</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>45</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_19.png</string>
			<key>username</key>
			<string>无与伦比的美丽</string>
			<key>content</key>
			<string>比手撕鬼子好看多了</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_20.png</string>
			<key>username</key>
			<string>在说话我就亲你</string>
			<key>content</key>
			<string>打少发的身份阿道夫</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_21.png</string>
			<key>username</key>
			<string>匿名用户907823</string>
			<key>content</key>
			<string>感觉弹幕比正片还精彩</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_22.png</string>
			<key>username</key>
			<string>飞扬跋扈</string>
			<key>content</key>
			<string>难得放松</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>23</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_23.png</string>
			<key>username</key>
			<string>匿名用户234234</string>
			<key>content</key>
			<string>加入股票技术群（11123211），每天送一支涨停股</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_24.png</string>
			<key>username</key>
			<string>马化腾我日你大爷</string>
			<key>content</key>
			<string>真热闹啊</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_25.png</string>
			<key>username</key>
			<string>姜敏</string>
			<key>content</key>
			<string>超级喜欢里面的冯妈</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_26.png</string>
			<key>username</key>
			<string>啊猪</string>
			<key>content</key>
			<string>我告诉你，历史上的纪晓岚并没有铁齿铜牙，只是文弱书生一个，办案就更谈不上了</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array>
				<dict>
					<key>usericon</key>
					<string>usericon_26.png</string>
					<key>username</key>
					<string>互联网虫</string>
					<key>reply_content</key>
					<string>你傻逼，没有纪晓岚，哪来的四库全书？</string>
					<key>send_date</key>
					<string>2小时之前</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_27.png</string>
			<key>username</key>
			<string>互联网虫</string>
			<key>content</key>
			<string>喜欢片尾曲的举个爪</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>98</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_28.png</string>
			<key>username</key>
			<string>匿名用户26369234</string>
			<key>content</key>
			<string>和珅死全家</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_29.png</string>
			<key>username</key>
			<string>有一个地方只有我们知道</string>
			<key>content</key>
			<string>基友群（6384239），想玩菊花的进</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_30.png</string>
			<key>username</key>
			<string>小许</string>
			<key>content</key>
			<string>一群傻逼</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>90</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_31.png</string>
			<key>username</key>
			<string>奥利弗黄</string>
			<key>content</key>
			<string>楼上的智障</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_32.png</string>
			<key>username</key>
			<string>怀特白</string>
			<key>content</key>
			<string>顶楼上</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_33.png</string>
			<key>username</key>
			<string>如果爱有天意</string>
			<key>content</key>
			<string>能安安静静地看会儿电视剧么</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_34.png</string>
			<key>username</key>
			<string>夕阳醉了</string>
			<key>content</key>
			<string>吵鸡巴吵</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_35.png</string>
			<key>username</key>
			<string>罗伯特杨</string>
			<key>content</key>
			<string>我喜欢这电视剧，看着很轻松</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_36.png</string>
			<key>username</key>
			<string>大雁南飞</string>
			<key>content</key>
			<string>最喜欢片尾曲</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_37.png</string>
			<key>username</key>
			<string>天南地北</string>
			<key>content</key>
			<string>江泽民应该被送上绞刑架，迫害法轮功者死</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_38.png</string>
			<key>username</key>
			<string>匿名用户sdfaasdf</string>
			<key>content</key>
			<string>去玩儿企鹅万人企鹅万人死对方</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_39.png</string>
			<key>username</key>
			<string>讲道理的是知己</string>
			<key>content</key>
			<string>我也很喜欢这片尾曲</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array>
				<dict>
					<key>usericon</key>
					<string>usericon_40.png</string>
					<key>username</key>
					<string>夕阳下的奔跑</string>
					<key>reply_content</key>
					<string>单曲循环</string>
					<key>send_date</key>
					<string>20分钟之前</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_40.png</string>
			<key>username</key>
			<string>飞总不哭</string>
			<key>content</key>
			<string>你个死娘炮</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_41.png</string>
			<key>username</key>
			<string>夕阳下的奔跑</string>
			<key>content</key>
			<string>爱奇艺杠杠的</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_42.png</string>
			<key>username</key>
			<string>文尧</string>
			<key>content</key>
			<string>评论比电视剧精彩，鉴定完毕</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_43.png</string>
			<key>username</key>
			<string>爱很简单</string>
			<key>content</key>
			<string>寂寞了，加我45299018334</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_44.png</string>
			<key>username</key>
			<string>匿名用户tertywer</string>
			<key>content</key>
			<string>我喜欢这电视剧，看着很轻松</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_45.png</string>
			<key>username</key>
			<string>碧池一枚</string>
			<key>content</key>
			<string>四部铁齿铜牙纪晓岚都好看，我都看了</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_46.png</string>
			<key>username</key>
			<string>淫荡的人</string>
			<key>content</key>
			<string>进群看片，免费大片任意看</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_47.png</string>
			<key>username</key>
			<string>弗格森的风格</string>
			<key>content</key>
			<string>世界杯快到了，嗨起来</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_48.png</string>
			<key>username</key>
			<string>睡你麻痹起来嗨</string>
			<key>content</key>
			<string>新出炉地下城DNF大天使剑，还热乎着，要的加12345231</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_49.png</string>
			<key>username</key>
			<string>富士康招聘</string>
			<key>content</key>
			<string>招聘100名普工，有意者请联系13826111124，覃先生</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_50.png</string>
			<key>username</key>
			<string>匿名用户pokopkpoadsf</string>
			<key>content</key>
			<string>晶晶亮透心凉</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
		<dict>
			<key>usericon</key>
			<string>usericon_51.png</string>
			<key>username</key>
			<string>杰哥</string>
			<key>content</key>
			<string>玉林狗肉节快到了。欢迎大家来玉林吃狗肉</string>
			<key>send_date</key>
			<string>3天前</string>
			<key>praise_count</key>
			<string>5</string>
			<key>replylist</key>
			<array/>
		</dict>
	</array>
	<key>likelist</key>
	<array>
		<dict>
			<key>coverURL</key>
			<string>film_09.png</string>
			<key>name</key>
			<string>美女主播乐翻天</string>
			<key>content</key>
			<string>美女主播带你飞</string>
			<key>playRecord</key>
			<string>2993.7万次播放</string>
		</dict>
		<dict>
			<key>coverURL</key>
			<string>film_08.png</string>
			<key>name</key>
			<string>有一个地方只有我们知道</string>
			<key>content</key>
			<string>徐静蕾处女作</string>
			<key>playRecord</key>
			<string>2109.8万次播放</string>
		</dict>
		<dict>
			<key>coverURL</key>
			<string>film_04.png</string>
			<key>name</key>
			<string>枫林之界</string>
			<key>content</key>
			<string>一叶知秋也</string>
			<key>playRecord</key>
			<string>1029.8万次播放</string>
		</dict>
		<dict>
			<key>coverURL</key>
			<string>film_07.png</string>
			<key>name</key>
			<string>那人那山那狗</string>
			<key>content</key>
			<string>两代山村邮递员平凡的一生</string>
			<key>playRecord</key>
			<string>214.7万次播放</string>
		</dict>
		<dict>
			<key>coverURL</key>
			<string>film_06.png</string>
			<key>name</key>
			<string>向左走向右走</string>
			<key>content</key>
			<string>主演：金城武</string>
			<key>playRecord</key>
			<string>9831.7万次播放</string>
		</dict>
		<dict>
			<key>coverURL</key>
			<string>film_05.png</string>
			<key>name</key>
			<string>斗鱼网红女主播</string>
			<key>content</key>
			<string>白皙巨乳清纯可人</string>
			<key>playRecord</key>
			<string>277.7万次播放</string>
		</dict>
	</array>
	<key>filmslist</key>
	<array>
		<dict>
			<key>coverURL</key>
			<string>film_03.png</string>
			<key>name</key>
			<string>自然风光之美</string>
			<key>content</key>
			<string>天池</string>
			<key>playRecord</key>
			<string>218.7万次播放</string>
		</dict>
		<dict>
			<key>coverURL</key>
			<string>film_01.png</string>
			<key>name</key>
			<string>阴阳先生之末代天师</string>
			<key>content</key>
			<string>两代天师首次联手伏魔</string>
			<key>playRecord</key>
			<string>1799.7万次播放</string>
		</dict>
		<dict>
			<key>coverURL</key>
			<string>film_02.png</string>
			<key>name</key>
			<string>阴阳先生</string>
			<key>content</key>
			<string>阴阳眼下捉鬼七宗罪</string>
			<key>playRecord</key>
			<string>8169.7万次播放</string>
		</dict>
	</array>
</dict>
</plist>
