<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>likelist</key>
	<array>
		<dict>
			<key>coverURL</key>
			<string>film_09.png</string>
			<key>name</key>
			<string>美女主播乐翻天</string>
			<key>content</key>
			<string>美女主播带你飞</string>
			<key>playRecord</key>
			<string>2993.7万次播放</string>
		</dict>
		<dict>
			<key>coverURL</key>
			<string>film_08.png</string>
			<key>name</key>
			<string>有一个地方只有我们知道</string>
			<key>content</key>
			<string>徐静蕾处女作</string>
			<key>playRecord</key>
			<string>2109.8万次播放</string>
		</dict>
		<dict>
			<key>coverURL</key>
			<string>film_04.png</string>
			<key>name</key>
			<string>枫林之界</string>
			<key>content</key>
			<string>一叶知秋也</string>
			<key>playRecord</key>
			<string>1029.8万次播放</string>
		</dict>
		<dict>
			<key>coverURL</key>
			<string>film_07.png</string>
			<key>name</key>
			<string>那人那山那狗</string>
			<key>content</key>
			<string>两代山村邮递员平凡的一生</string>
			<key>playRecord</key>
			<string>214.7万次播放</string>
		</dict>
		<dict>
			<key>coverURL</key>
			<string>film_06.png</string>
			<key>name</key>
			<string>向左走向右走</string>
			<key>content</key>
			<string>主演：金城武</string>
			<key>playRecord</key>
			<string>9831.7万次播放</string>
		</dict>
		<dict>
			<key>coverURL</key>
			<string>film_05.png</string>
			<key>name</key>
			<string>斗鱼网红女主播</string>
			<key>content</key>
			<string>白皙巨乳清纯可人</string>
			<key>playRecord</key>
			<string>277.7万次播放</string>
		</dict>
	</array>
	<key>filmslist</key>
	<array>
		<dict>
			<key>coverURL</key>
			<string>film_03.png</string>
			<key>name</key>
			<string>自然风光之美</string>
			<key>content</key>
			<string>天池</string>
			<key>playRecord</key>
			<string>218.7万次播放</string>
		</dict>
		<dict>
			<key>coverURL</key>
			<string>film_01.png</string>
			<key>name</key>
			<string>阴阳先生之末代天师</string>
			<key>content</key>
			<string>两代天师首次联手伏魔</string>
			<key>playRecord</key>
			<string>1799.7万次播放</string>
		</dict>
		<dict>
			<key>coverURL</key>
			<string>film_02.png</string>
			<key>name</key>
			<string>阴阳先生</string>
			<key>content</key>
			<string>阴阳眼下捉鬼七宗罪</string>
			<key>playRecord</key>
			<string>8169.7万次播放</string>
		</dict>
	</array>
</dict>
</plist>
